<header class="header">
    <img src="~/images/logo.webp" alt="logo" class="logo">
        <ul class="list">
            <li class="item"><a asp-controller="Home" asp-action="Index" class="item-link">Home</a></li>
            <li class="item"><a asp-controller="Home" asp-action="About" class="item-link">About</a></li>
            <li class="item"><a asp-controller="Teams" asp-action="Index" class="item-link">Teams</a></li>
            <li class="item"><a asp-controller="News" asp-action="Index" class="item-link">News & Events</a></li>
            <li class="item"><a asp-controller="Home" asp-action="Resources" class="item-link">Resources</a></li>
        </ul>
</header>
