@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<header class="header">
    <a asp-controller="Home" asp-action="Index">
        <img src="~/images/logo.jpg" alt="logo" class="logo">
    </a> 
    
    <ul class="list">
        <li class="item"><a asp-controller="Home" asp-action="About" class="item-link">About</a></li>
        <li class="item"><a asp-controller="Teams" asp-action="Index" class="item-link">Teams</a></li>
        <li class="item"><a asp-controller="Matches" asp-action="Index" class="item-link">Events</a></li>

        @if (SignInManager.IsSignedIn(User))
        {
            var user = await UserManager.GetUserAsync(User);

            <li class="item">
                <a asp-controller="Account" asp-action="Profile" class="item-link">
                    Profile (@user.WalletBalance tokens)
                </a>
            </li>
        }
        else
        {
            <li class="item"><a asp-area="Identity" asp-page="/Account/Login" class="item-link">Login</a></li>
            <li class="item"><a asp-area="Identity" asp-page="/Account/Register" class="item-link">Register</a></li>
        }

    </ul>

</header>
